{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": ["prettier"],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "react/prop-types": "off",
        "react/destructuring-assignment": "warn",
        "prettier/prettier": "error"
    }
}

// react rules: https://github.com/yannickcr/eslint-plugin-react#list-of-supported-rules
// typescript rules: https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin#supported-rules
